:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navi-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --white: #ffffff;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --card-gap: 24px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.hidden {
  display: none;
}

/* Header */

.header {
  padding-top: 20px;
  padding-bottom: 21px;
  background: var(--white);
  border-bottom: 1px solid var(--cornflower);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--navi-blue);
}

.header-logo span {
  color: var(--iris);
}

.nav-list {
  display: flex;
  margin: 0 0 0 -256px;
  padding: 0;
}

.nav-item {
  margin-right: 40px;
}

.nav-item:last-child {
  margin-right: 0px;
}

.nav-link {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navi-blue);
}

.nav-link:is(:hover, :focus) {
  color: var(--ocean);
}

.nav-list .nav-link.current {
  color: var(--ocean);
}

.contact-list {
  display: flex;
  margin: 0;
  padding: 0;
}

.contact-item {
  margin-right: 40px;
}

.contact-item:last-child {
  margin-right: 0px;
}

.contact-link {
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

.contact-link:is(:hover, :focus) {
  color: var(--ocean);
}

/* /Header */
/* Main */

.hero {
  padding-top: 188px;
  padding-bottom: 188px;
  display: flex;
  background-color: var(--navi-blue);
}

.hero-title {
  max-width: 496px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--white);
}

.button {
  margin: 0 auto;
  margin-top: 48px;
  padding: 16px 32px;
  display: block;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  background: var(--iris);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.button:is(:hover, :focus) {
  background: var(--ocean);
}

/* Future */

.features-list {
  margin-top: 120px;
  padding: 0;
  display: flex;
}

.feature-item {
  width: 264px;
}

.feature-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navi-blue);
}

.feature-text {
  margin-top: 8px;
}

/* Services */

.service-title {
  margin-top: 120px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navi-blue);
  text-align: center;
}

.services-list {
  margin-top: 72px;
  margin-bottom: 0;
  padding: 0;
  display: flex;
}

.services-item {
  border: 1px solid var(--cornflower);
}

/* team */

.team {
  margin-top: 120px;
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: var(--cloud);
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navi-blue);
  text-align: center;
}

.team-list {
  margin-top: 72px;
  margin-bottom: 0;
  display: flex;
  flex-wrap: wrap;
}

.team-item {
  width: 264px;
  background: var(--white);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.team-content {
  padding: 32px 16px;
}

.employee-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--navi-blue);
}

.employee-position {
  margin-top: 8px;
  text-align: center;
}

/* /Main */
/* portfolio */

.filter-list {
  padding: 0;
  margin-top: 96px;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
}

.filter-item {
  margin-right: 23px;
}

.filter-item:last-child {
  margin-right: 0px;
}

.filter-button {
  padding: 11px 23px;
  border-radius: 4px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--iris);
  background-color: var(--cloud);
  border: 1px solid var(--cornflower);
  cursor: pointer;
}

.filter-button:is(:hover, :focus) {
  border-color: transparent;
  color: var(--white);
  background-color: var(--ocean);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 48px;
  margin-top: 72px;
  margin-bottom: 120px;
}

.portfolio-item {
  width: 360px;
  background-color: var(--white);
}

.portfolio-content {
  padding: 32px 15px;
  border: 1px solid var(--cornflower);
  border-top: none;
}

.portfolio-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navi-blue);
}

.portfolio-text {
  margin-top: 7px;
  color: var(--slate);
}

/* /Portfolio */
/* footer */

.footer {
  padding: 100px 0;
  background-color: var(--navi-blue);
}

.footer-logo {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--cloud);
}

.footer-logo span {
  color: var(--iris);
}

.footer-text {
  margin-top: 16px;
  width: 264px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cornflower);
}

/* /Footer */
